---
interface Props {
  hasNextPage: boolean;
  hasPrevPage: boolean;
  nextPageUrl: string;
  prevPageUrl: string;
  headerTip: string;
}

const { hasNextPage, hasPrevPage, nextPageUrl, prevPageUrl, headerTip } = Astro.props;
---
<nav class="flex flex-row-reverse w-full justify-between items-center gap-4 text-base md:text-lg mt-8" aria-label="ترقيم الصفحات">
  {hasNextPage ? (
    <a href={nextPageUrl} rel="next" class="border py-0.5 px-3 rounded-md border-zinc-200 text-zinc-800">التالي</a>
  ) : (
    <span class="border py-0.5 px-3 rounded-md border-zinc-200 cursor-not-allowed text-zinc-500" aria-disabled="true">التالي</span>
  )}
  <p class="text-zinc-500 text-base">{headerTip}</p>
  {hasPrevPage ? (
    <a href={prevPageUrl} rel="prev" class="border py-0.5 px-3 rounded-md border-zinc-200 text-zinc-800">السابق</a>
  ) : (
    <span class="border py-0.5 px-3 rounded-md border-zinc-200 cursor-not-allowed text-zinc-500" aria-disabled="true">السابق</span>
  )}
</nav>
