---
import { Footer } from '@/components/footer';
import Nav from '@/components/nav/nav.astro';
import SEO, { type Props as SEOProps } from '@/components/seo.astro';
import { isDev } from '@/constants';
import '@/styles/globals.css';

interface Props extends SEOProps {}

const htmlClass = isDev ? 'debug-screens' : '';
---

<html lang="ar" dir="rtl" class={`bg-zinc-50 text-zinc-950 font-sans overflow-x-hidden overflow-y-scroll ${htmlClass}`}>
  <head>
    <SEO {...Astro.props} />
  </head>
  <body class="relative overflow-x-hidden min-h-svh w-full grid grid-rows-[auto_1fr_auto] bg-zinc-50 text-zinc-950 font-sans px-4 md:px-20 lg:px-40 xl:px-60 2xl:px-80">
    <Nav />
    <main class="row-start-2 flex-1 w-full flex justify-start items-start">
      <slot />
    </main>
    <Footer client:idle />
    <script
      is:inline
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "a707ff647c644bf69a7661040471963d"}'
      defer
    ></script>
  </body>
</html>
